# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Node
node_modules/

# ML Models (VERY IMPORTANT)
*.h5
*.keras
*.pt
*.pth
*.pb

# Environment & secrets
.env
token.json
credentials.json

# Temp files
*.log
*.tmp
*.jpg
*.png

# Test files
test_*.py

# OS
.DS_Store
Thumbs.db

# Backend junk
backend/openJdk-25/
backend/temp.jpg